@using WebApplicationAuthTest.Models
@model WebApplicationAuthTest.Models.RegistrationLookupModel

@{
    ViewBag.Title = "ManageFacStaffRegistration";
}

<h2>Faculty / Staff Registration Lookup</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.KeywordSearch, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KeywordSearch, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KeywordSearch, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />

        <div class="form-group">
            <div class="radio-inline">
                <label>@Html.RadioButtonFor(model => model.SearchBy, SearchByEnum.FacStaffId, new { id = "FacStaffID", @checked = true }) Fac/Staff ID</label>
            </div>

            <div class="radio-inline">
                <label>@Html.RadioButtonFor(model => model.SearchBy, SearchByEnum.LastName, new { id = "LastName" }) Last Name</label>
            </div>

            <div class="radio-inline">
                <label>@Html.RadioButtonFor(model => model.SearchBy, SearchByEnum.FirstName, new { id = "FirstName" }) First Name</label>
            </div>

            <div class="radio-inline">
                <label>@Html.RadioButtonFor(model => model.SearchBy, SearchByEnum.LicenseNumber, new { id = "LicenseNumber" }) License Number</label>
            </div>

            <div class="radio-inline">
                <label>@Html.RadioButtonFor(model => model.SearchBy, SearchByEnum.TagNumber, new { id = "TagNumber" }) Tag Number</label>
            </div>
        </div>



        <div class="form-actions no-color">
            <input type="submit" value="Find" class="btn btn-default" />
            <br />
            <br />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
