@model IEnumerable<WebApplicationAuthTest.Models.Admin.SecurityAdminsModel>

@{
    ViewBag.Title = "ShowSecurityAdministrators";
}

<h2>Security Administrators</h2>

<p>
    @Html.ActionLink("Create New Security Admin", "AddItsSecurityAdmin")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteSecurityAdministrator", new { id = item.Id })
        <td>
            @Html.ActionLink("Reset Password", "ResetSecurityAdministratorPassword", new { id = item.Id })
        </td>
    </tr>
}

</table>


@*
        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
    @Html.ActionLink("Details", "Details", new { id=item.Id }) |


*@